.storybook-avatar {
    font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    cursor: pointer;
    line-height: 1;
    width: 50px;
    height: 50px;
    padding: 0px;
    text-align: center;
}

.storybook-avatar--disabled {
    opacity: 50%;
}
.storybook-avatar--round {
    border-radius: 50%;
}
.storybook-avatar--square {
    border-radius: 0%;
}
.storybook-avatar--small {
    font-size: 14px;
    width: 28px;
    height: 28px;
}
.storybook-avatar--medium {
    font-size: 16px;
    width: 36px;
    height: 36px;
}
.storybook-avatar--large {
    font-size: 18px;
}
